/*
  cpt-city: bhw/bhw2/bhw2_whooo (PspGradient)

  Art gradients by Blackheartedwolf, formerly of DeviantArt

  author: Blackheartedwolf
  copyright: Creative Commons Attribution 3.0
  year: 2011
  url: https://phillips.shef.ac.uk/pub/cpt-city/bhw/bhw2
*/
linear-gradient(
  0deg,
  rgb( 66, 187, 172)   0.000%,
  rgb( 66, 187, 172)   2.002%,
  rgb( 69,  58, 116)  12.012%,
  rgb( 99,  88, 102)  19.995%,
  rgb(161, 128, 173)  26.001%,
  rgb(255, 255, 192)  33.008%,
  rgb(131, 109,  51)  39.990%,
  rgb(243, 116, 203)  47.998%,
  rgb(165,  26, 115)  54.004%,
  rgb(124, 119, 116)  62.988%,
  rgb(211, 166, 169)  68.994%,
  rgb( 56,  59,  94)  80.005%,
  rgb( 60, 138, 151)  87.988%,
  rgb(160, 210, 159) 100.000%
);
